<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${(action.equals('edit') ? 'Редактирование' : 'Добавление новой') + ' категории'}"></title>
</head>
<body>

<a th:href="@{'/admin/category/all'}">Список категрий</a>
<form th:action="@{'/admin/category/' + ${action}}" method="post">
    <label th:if="${action.equals('edit')}">ID
        <input readonly th:name="id" th:value="${category.id}"></label><br/>
    <label>Название<input th:name="name" th:value="${category.name}"></label><br/>
    <label>Описание<input th:name="description" th:value="${category.description}"></label><br/>
    <div th:if="${action.equals('edit')}">
        <input hidden readonly th:name="image" th:value="${category.image}"><br/>
        <p th:text="${'Изображение: ' + category.image}"></p>
        <img th:if="${action.equals('edit')}"
             th:src="@{'/image/' + ${category.image}}" th:height="255" alt="Изображение не задано"><br/>
        <a th:text="${'Выбрать другое изображение'}" th:href="@{'/admin/image/category/' + ${category.id}}"></a>
        <a th:text="Продукты" th:href="@{/admin/product/all(categoryId = ${category.id})}"></a>
    </div>
    <input th:type="submit" th:value="Сохранить"/>
</form>
</body>
</html>