<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование картинок</title>
</head>
    <body>
        <a th:text="${'Назад к редактированию'}" th:href="@{'/admin/category/edit/' + ${categoryId}}"></a>
        <table border="1">
            <tr>
                <th th:text="Имя"></th>
                <th th:text="Картинка"></th>
                <th></th>
            </tr>
            <tr th:each="imgName : ${imgNames}">
                <td th:text="${imgName}"></td>
                <td><img th:src="@{'/image/' + ${imgName}}" th:height="125" alt=""></td>
                <td><a th:href="@{/admin/category/image/set(categoryId = ${categoryId}, img = ${imgName})}"
                       th:text="Выбрать"></a></td>
            </tr>
        </table>
    </body>
</html>